<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MybatisApp</display-name>
	
	<!--글등록 요청 처리 서블릿 -->
	<servlet>
		<servlet-name>registServlet</servlet-name>
		<servlet-class>org.sp.mybatisapp.controller.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<url-pattern>/board/regist</url-pattern>
		<servlet-name>registServlet</servlet-name>
	</servlet-mapping>
	
</web-app>


